#hours-container {
  display: flex;
}

.hour-label {
  margin: 2px;
  text-align: center;
}

.hour-box {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 2px;
  background: white;
}

#add-one-day {
  border: 1px solid black;
  padding: 0px 3px;
  border-radius: 3px;
  cursor: pointer;
}